.root {
  padding-top: 24px;
  padding-bottom: 24px;
}

.breadcrumbs {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;

  --cards-count: 4;
  --cards-gap: 24px;

  margin-right: calc(0px - var(--cards-gap));
  margin-top: calc(0px - var(--cards-gap));
}

.card {
  width: calc((100% - var(--cards-count) * var(--cards-gap)) / var(--cards-count));
  margin-right: var(--cards-gap);
  margin-top: var(--cards-gap);
}

@media (max-width: 1300px) {
  .content {
    --cards-count: 3;
  }
}

@media (max-width: 700px) {
  .root {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .content {
    --cards-count: 2;
    --cards-gap: 15px;
  }

  .breadcrumbs {
    margin-bottom: 12px;
  }
}
