.root {
  display: flex;
  color: #aaaaaa;
  font-size: 15px;
  line-height: 20px;
}

.spacer,
.crumb {
  font-weight: 600;
}

.crumb {
  cursor: pointer;
}

.crumb:hover {
  text-decoration: underline;
}

.crumb + .spacer,
.spacer + .crumb {
  margin-left: 6px;
}

.crumb:last-child {
  color: #333;
}
