.root {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 14px;
}

.tagInput {
  margin-bottom: 20px;
}

.diabledText {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: #aaaaaa;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 700px) {
  .root {
    margin-bottom: 12px;
  }
}
