.root {
  position: relative;
  background: var(--pink);
  background: var(--gradient);
  z-index: 1;
}

.root::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e2e8f07f;
  z-index: -1;
}

.top {
  display: flex;
  justify-content: flex-end;
  padding: 12px 24px;
}

.enterButton {
  background-color: rgba(255, 255, 255, 1);
  color: var(--pink);
  font-weight: 700;
  border-radius: 40px;
  padding: 8px 12px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.minimalRoot .content {
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.slogan {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  color: #fff;
}

.minimalRoot .slogan {
  margin-right: 24px;
}

.slogan {
  font: Verdana;
}

.title {
  font-size: 36px;
  font-weight: 800;
}

.minimalRoot .title {
  font-size: 30px;
  line-height: 34px;
}

.description {
  font-size: 16px;
  font-weight: 500;
}

.minimalRoot .description {
  font-size: 14px;
  font-weight: 500;
}

.searchBar {
  margin-top: 20px;
}

.minimalRoot .searchBar {
  margin-top: 0;
}

.tabs {
  margin: auto;
}

@media (max-width: 900px) {
  .minimalRoot .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .minimalRoot .searchBar {
    margin-top: 10px;
  }
}
