.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.avatar {
  margin-right: 12px;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  font-weight: 700;
}

.text {
  font-size: 14px;
}

.date {
  font-size: 14px;
  color: #888;
}
