.root {
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.photo {
  display: flex;
  background: linear-gradient(30deg, rgba(255,78,205,1) 0%, rgba(245,165,36,1) 100%);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 14px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 20px;
}

.inputGroup {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  border: 1px solid #eff1f4;
  border-radius: 4px;
  padding: 4px;
}

.date {
  width: 400px;
  color: #888;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.closeButton {
  display: flex;
  align-items: end;
  width: 36px;
  height: 36px;
  fill: #3333334d;
  cursor: pointer;
  transition-duration: .15s;
  border-radius: 36px;
}
.closeButton:hover {
  fill: #333333bb;
}

.commentButton {
  display: flex;
  align-items: end;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition-duration: .15s;
}
.commentButton:hover {
  fill: #333333bb;
}

@media (max-width: 1300px) {
  .card {
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 20px;
  }
  .inputGroup {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .root {
    background-color: #fff;
    padding: 0;
  }
  .card {
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: end;
  }
}
