.root {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  border-radius: 40px;
  padding: 6px 12px;
  cursor: pointer;
  width: fit-content;
  opacity: .9;
  transition-duration: .15s;

  &:hover {
    opacity: 1;
  }
}
