.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.references {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #9a9b9e;
}

.references svg {
  height: 16px;
  margin-left: 6px;
  fill: #9a9b9e;
}

.tags {
  margin-top: 16px;
}
