.root {
  background-color: #eff1f4;
  height: 100%;
}

.card {
  background-color: #fff;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 14px;
  padding: 8px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  padding: 80px;
}

.inputGroup {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}

.button {
  background: linear-gradient(30deg, rgba(255,78,205,1) 0%, rgba(245,165,36,1) 100%);
  color: #fff;
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  font-weight: 700;
}

.input {
  border: 1px solid #eff1f4;
  border-radius: 4px;
  padding: 4px;
}

.text {
  width: 400px;
}

.title {
  color: var(--orange);
  font-size: 30px;
  font-weight: 700;
}

.closeButton {
  display: none;
}

.backButton {
  display: flex;
  align-items: end;
  width: 36px;
  height: 36px;
  fill: #3333334d;
  cursor: pointer;
  transition-duration: .15s;
  border-radius: 36px;
  background-color: #fff;
}
.backButton:hover {
  fill: #333333bb;
}

@media (max-width: 1300px) {
  .card {
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 40px;
  }
  .inputGroup {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .root {
    background-color: #fff;
    padding: 0;
  }
  .card {
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: end;
  }
  .inputGroup {
    width: 100%;
  }
  .text {
    width: 100%;
  }
  .title {
    font-size: 28px;
    color: var(--orange);
  }
  .closeButton {
    display: flex;
    align-items: end;
    width: 36px;
    height: 36px;
    fill: #3333334d;
    cursor: pointer;
    transition-duration: .15s;
    border-radius: 36px;
    background-color: #fff;
  }
  .closeButton:hover {
    fill: #333333bb;
  }
  .backButton {
    display: none;
  }
}
